@import "./style_Intro.scss";
@import "./mixines.scss";


body {
    margin:0;
    padding:0;
position: relative;
color:var(--sec-text-color); 

}

h2 {
    font-size: clamp(0.5rem, 1vw + 1rem, 2rem);
    @include titles();
    text-align: center;
}

.about {
    @include flexCenter(row);
    background: var(--bg-color2);
    padding: 1em 0 4em 0;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    h2 {
        color: var(--sec-text-color);
    }
}

.content {
    max-width: 70%;
    margin: 3em auto;

}

.full_slide {
    display: flex;
    flex-direction: row;
}

.project-container {
    max-height: 100vh;
}

.aa {
    margin: 1em auto;
    @include flexCenter(row);
    // justify-content: space-around;    
    opacity: 0.7;
    text-align: center;
    .arrows {
        
        &:disabled {
            opacity: 0.3;
        }

    }
    
    i{
        padding:0.3em;
    }
}

.slide{
    position: relative;   
    width: 30%;
    text-align: justify;
    padding-right: 1em;

}
.slide-img  {
    max-width: 70%;
    
    img {
    max-width: 100%;
    float: right;
    object-fit: fill;
    &:hover {
        box-shadow: var(--shadow-color) 3px 3px;
    }
}
}
.links{  
    font-size: 1rem;
    padding: 1rem 0;
    position: absolute;
    bottom:0px;
    a{
        text-decoration: none;
        color: var(--text-color);
        &:hover{
            background: var(--button-color);
            box-shadow: var(--shadow-color) 3px 3px;
        }
        
    }
    i{
        font-size: 3rem;
        // &:hover {
        //     // background: var(--button-color);
        // }
    }
    
}
.button {
    
    border-radius: 35px;
    display:inline-block;
    padding: 1em 4em;
    box-shadow: lightsteelblue 2px 2px;
    text-align: center;
    // width: 50%;
    float: right;
    &:hover{
        background: var(--button-color);
    }
}
  .arrows {
    border:none;
    background-color: transparent;
    font-size: 1em;
    color: rgba(2,2,2, 0.9);
    padding : 1em auto;
}

.skill {
    font-size: clamp(3rem, 8vw, 12rem);
}
  
.skills {
    margin: 6em 0 ;
    padding: 6em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%);
    background-color: var(--bg-color2);
  }
  
 .scMed {
     font-size: 2em;
     color: var(--sec-text-color);
     padding: 0.25em;
 } 

 .contact {
    text-align: center;
 }

 @import "./mediaq.scss";